asyncpg==0.29.0
certifi==2024.8.30
charset-normalizer==3.4.0
ffmpeg-python==0.2.0
future==1.0.0
idna==3.10
isort==5.13.2
Jinja2==3.1.5
MarkupSafe==2.1.5
msgspec==0.18.6
psycopg2-binary==2.9.9
PyJWT==2.10.1
python-dotenv==1.0.1
requests==2.32.3
tornado==6.4.1
urllib3==2.2.3
websockets==13.1
